RewriteEngine On

RewriteCond %{REQUEST_URI} ^/zc/play [NC]
RewriteRule ^ https://web.zquestclassic.com/play/ [L,R=301,QSD]
RewriteCond %{REQUEST_URI} ^/zc/create [NC]
RewriteRule ^ https://web.zquestclassic.com/create/ [L,R=301,QSD]

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,NE,R=301]

# order allow,deny
<Files ~ "\.(wav)$">
   allow from all
</Files>
