/* Move down content because we have a fixed navbar that is 50px tall */

body {
    /*    padding-top: 50px;
*/
}

.logo h1 {
    font-size: 2em;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Corben', Georgia, Times, serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

p {
    font-family: 'Bitter, serif', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 25px;
}

hr {
    border-color: steelblue;
    border-width: 2px;
}

.hero {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("/images/hero4.jpg");
    height: 800px;
}

main.container {
    background-color: lightcoral;
}


/* nav */

.fixed-header {
    background: url("/images/background.jpg");
    box-shadow: 0px 3px 20px 0px #c1c7e1;
}

#header-container {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.rel-container {
    position: relative;
}

header {
    float: left;
    z-index: 900;
    margin-top: 14px;
}

#access {
    float: right;
    z-index: 900;
    padding: 8px 0 8px 25px;
    width: 0px;
    margin-right: -8px;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

#access.menu-open {
    width: 330px;
}

#access.menu-open .menu-header {
    /*height: 33px;*/
}

.menu-header {
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    /*height: 0px;*/
    font-size: 0px;
    text-align: left;
    overflow: hidden;
    background: url("/images/background.jpg");
}

#menu-ish-nav {
    width: 280px;
}

#menu-ish-nav {
    text-align: left;
    padding: 0 0 0 15px;
    /*height: 33px;*/
}

#menu-ish-nav li {
    display: inline-block;
    padding: 10px 6px 1px 6px;
}

#menu-ish-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-family: "gesta", sans-serif;
    font-style: normal;
    font-weight: 600;
}

.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

#menu-icon {
    position: absolute;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    height: 33px;
    width: 33px;
    background-image: url("/images/background.jpg");
    z-index: 10;
    right: -8px;
    margin-right: 20px;
}

#menu-plus {
    height: 33px;
    width: 33px;
    background: url("/images/header-icon.svg") no-repeat;
    background-size: cover;
}

#nav-content {
    width: 30px;
}

.menu-item {
    position: relative;
}

.menu-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: steelblue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu-item.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#scroll-top-detector {
    width: 100%;
    height: 60px;
    position: relative;
}

.hello-world * {
    font-family: 'Press Start 2P', cursive;
}

main {
    padding-top: 50px;
}


/*terminal*/

.btn-terminal:before {
    content: 'Open Terminal'
}

.btn-terminal[aria-expanded="true"]:before {
    content: 'Close Terminal';
}


/*http://charliepark.org/bootstrap_buttons/*/

.btn-terminal {
    background-color: hsl(195, 85%, 35%) !important;
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#11a3d4", endColorstr="#0d7fa5");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#11a3d4), to(#0d7fa5));
    background-image: -moz-linear-gradient(top, #11a3d4, #0d7fa5);
    background-image: -ms-linear-gradient(top, #11a3d4, #0d7fa5);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #11a3d4), color-stop(100%, #0d7fa5));
    background-image: -webkit-linear-gradient(top, #11a3d4, #0d7fa5);
    background-image: -o-linear-gradient(top, #11a3d4, #0d7fa5);
    background-image: linear-gradient(#11a3d4, #0d7fa5);
    border-color: #0d7fa5 #0d7fa5 hsl(195, 85%, 32.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
    -webkit-font-smoothing: antialiased;
}

.hello-world {
    height: 400px;
    overflow: auto;
    background-color: lightsteelblue;
    border: 2px solid black;
}

.hello-world pre {
    white-space: pre-wrap;
    word-break: normal;
}

.hello-world input {
    background: transparent;
    border: none;
    outline: none;
    width: 90%;
}

.hello-world input:active {
    border: none;
    outline: none;
}

.hello-world.started .blinking-cursor {
    display: none
}


/*blink*/

.blinking-cursor {
    font-weight: 100;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

blockquote p:before {
    content: open-quote;
    font-weight: bold;
}

blockquote p:after {
    content: close-quote;
    font-weight: bold;
}

.btn-social-icon {
    width: 100px;
}

.btn-social-icon .fa {
    transition: color 1s;
}

.btn-social-icon:hover {
    width: 120px;
}

.btn-social-icon:hover .fa {
    /*color: yellow;*/
}

#inputMessage {
    height: 300px;
}

#messages {
    position: fixed;
    bottom: 0;
}

#message button {
    padding-left: 5px;
}

.tech-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 25%;
    opacity: 0;
    transition: all 0.75s;
}

.tech:hover .tech-title {
    opacity: 1;
}

.tech img {
    transition: all 0.75s;
}

.tech:hover img {
    opacity: 0.5;
}

.education p {
    font-style: oblique;
}
