<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=5" />
  <title>Connor Clark</title>
  <link rel="stylesheet" href="/styles.css">

  {% if env.environment == 'production' %}
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-40937100-4', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  {% endif %}

  <script>
    // Dark mode looks so much better.
    // if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      // document.documentElement.classList.add('dark');
    // }
    const saved = localStorage.getItem('prefers-color-scheme');

    if (saved === 'dark' || !saved) {
      document.documentElement.classList.add('dark');
    }
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelector('.lightbulb').addEventListener('click', () => {
        document.documentElement.classList.toggle('dark');
        localStorage.setItem('prefers-color-scheme', document.documentElement.classList.contains('dark') ? 'dark' : 'light');
      });
    });
  </script>
</head>

<body>
  <header>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/gridia/">Gridia</a>
    <a href="#" class="lightbulb">
      {{ '/public/lightbulb.svg' | svgContents }}
    </a>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <a href="https://twitter.com/cjamcl">@cjamcl</a> | <a href="/feed.xml">RSS</a>
  </footer>

  {% if content contains '<code' %}
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="/prism-atom-dark.css">
    <link rel="stylesheet" media="(prefers-color-scheme: light)" href="/prism-vs.css">
  {% endif %}
</body>

</html>
