/* https://colorhunt.co/palette/178387 */
:root {
  --body-background-color: #fcf8f3;
  --body-text-color: black;
  --blockquote-background-color: #fcf8f3;
  --blockquote-border-color: #ffd3b6;
}

/* https://colorhunt.co/palette/136567 */
:root.dark {
  --body-background-color: #222831;
  --body-text-color: #eeeeee;
  --blockquote-background-color: #393e46;
  --blockquote-border-color: #b55400;
  --anchor-color: #ff7600;
}

html {
  font-size: 18px;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
}

header {
  text-align: right;
}

header a:first-child {
  float: left;
}

@media only screen and (min-width: 600px) {
  main {
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
  }
}

p {
  margin: 25px 0 25px 0;
}

a {
  color: var(--anchor-color);
}

img {
  width: 100%;
}

pre {
  background-color: var(--blockquote-background-color);
  overflow: auto;
  padding: 0 5px 0 5px;
}

blockquote {
  background: var(--blockquote-background-color);
  border-left: 10px solid var(--blockquote-border-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: inline;
}

footer {
  text-align: center;
}

.lightbulb svg {
  width: 20px;
  height: 18px;
  fill: currentColor;
  color: black;
}
:root.dark .lightbulb svg {
  color: white;
}
